      
</div><!-- /.container -->
<br><br><br>
<hr>

<p class="text-center">&COPY; The Parlour's Perfume</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://getbootstrap.com.vn/dist/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>


</html>
<%- messages('messages', locals) %>